* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: lightgrey;
}

#container {
  font-size: 0.8em;
  margin-left: 10px;
}

header {
  background: url(imagens/topo.jpg) no-repeat;
  width: 99%;
  height: 300px;
  border-radius: 30px;
  text-indent: -3000px;
  margin-top: 30px;
}

h2 {
  font-size: 1.6em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 5px;
  color: gray;
}

h2:hover {
  color: lightgrey;
}

#container img {
  width: 200px;
  border-radius: 20px;
  border: 3px solid lightgray;
}

#container ul li {
  list-style: none;
  padding: 5px;
}

#conteudo {
  background: #fff;
  border-radius: 30px;
  width: 99%;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

#prewedding {
  flex-grow: 1;
}

#noiva {
  flex-grow: 2;
}

#cerimonia {
  flex-grow: 3;
}

#festa {
  flex-grow: 4;
}

#luademel {
  flex-grow: 5;
}

.distanciamento-interno {
  margin: 30px 0 10px 30px;
}

footer {
  color: black;
  font-size: 1.5em;
  margin: 20px 10px;
  text-align: center;
}